html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #8b949e;
  background: #0d1117;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

samp,
code {
  font-family: 'Dank Mono', 'Source Code Pro', 'Courier Prime Code',
    'Liberation Mono', Consolas, Menlo, monospace;
}

samp {
  font-weight: bold;
  color: #333;
}

pre {
  box-sizing: border-box;
  overflow-x: auto;
  width: 100%;
  margin-top: 1.27rem;
  border-radius: 6px;
  line-height: 1.5;
  background-color: #000000;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}

pre > code {
  display: block;
  padding: 1.2rem !important;
}

:not(pre) > code {
  display: inline;
  white-space: pre-wrap;
  color: #f466e1;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #eaeaea;
}

.hljs-comment,
.hljs-quote {
  color: #999;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #f466d1;
  font-weight: 700;
}

.hljs-literal,
.hljs-number,
.hljs-tag .hljs-attr,
.hljs-template-variable,
.hljs-variable {
  color: #f46691;
}

.hljs-doctag,
.hljs-string {
  color: #66f4a1;
}

.hljs-section,
.hljs-selector-id,
.hljs-title {
  color: #f46691;
  font-weight: 700;
}

.hljs-subst {
  font-weight: 400;
}

.hljs-class .hljs-title,
.hljs-type {
  color: #0761d1;
  font-weight: 700;
}

.hljs-attribute,
.hljs-name,
.hljs-tag {
  color: #0076ff;
  font-weight: 400;
}

.hljs-link,
.hljs-regexp {
  color: #009926;
}

.hljs-bullet,
.hljs-symbol {
  color: #d63369;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0076ff;
}

.hljs-meta {
  color: #999;
  font-weight: 700;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
